#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 50px;
  justify-content: flex-start;
  align-items: center;
}

.detailsContainer{
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(57, 63, 68);
  p{
    font-style: italic;
  }
}